* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* width: 1, 728px;
  height: 1, 182px; */
  background-color: #111111;
}

#header {
  /* width: 1728px;
  height: 142px; */
  /* border: 1px solid black; */
  /* background-color: red; */
  padding: 5vh 5vw 3.5vh 4.3vw;
}

#nav_bar {
  /* background-color: white; */
  /* width: 1, 566.49px;
  height: 51px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 11.5vw;
}

#list {
  display: flex;
  list-style: none;
  padding-left: 8.5vw;
  gap: 6.7vw;
}

#list a.active {
  color: #ffb014;
}

#list a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2vw;
  font-weight: 600;
  transition: color 0.3s ease;
}

#list a:hover {
  color: #ffb014;
}

#side_nav {
  display: flex;
  padding-left: 8.5vw;
  gap: 2vw;
}

nav img {
  width: 2.9vw;
  height: 2.9vw;
  cursor: pointer;
  transition: all 0.3s ease;
}

nav img:hover {
  transform: scale(1.05);
}

nav button {
  width: 8.2vw;
  height: 4.7vh;
  cursor: pointer;
  padding: 1.3vh 2.5vw 1.3vh 2.5vw;

  background-color: #ffb014;
  color: black;
  border: none;
  border-radius: 3vw;
  font-size: 1.2vw;
  font-weight: 600;
  transition: all 0.3s ease;
}

nav button:hover {
  transform: scale(1.05);
}

#main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

#heading {
  color: #fff;
  font-size: 3.7vw;
  font-weight: 600;
}

#left_side {
  padding-left: 5.8vw;
  /* background-color: white; */
}

#right_side {
  /* margin-left: 637px; */
  width: 68vw;
  height: 80vh;
  position: relative;
  padding-right: 0.6vw;
  /* background-color: #fff; */
}

#overlay-img1 {
  position: absolute;
  top: 55vh;
  bottom: 0;
  left: 0;
  right: 29vw;
  margin: auto;
}

#overlay-img2 {
  position: absolute;
  top: -30vh;
  bottom: 0;
  left: 0;
  right: 35vw;
  margin: auto;
}

#overlay-img3 {
  position: absolute;
  top: 0vh;
  bottom: 0;
  left: 45vw;
  right: 29vw;
  margin: auto;
}

#para_1 {
  width: 15.5vw;
  height: 7.8vh;
  background-color: #ffb014;
  color: #111111;

  font-size: 2.8vw;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transform: rotate(-10deg);  */
}

#text {
  color: #fff;
  font-size: 2.8vw;
  font-weight: 600;
}

#para_2 {
  /* width: 570px; */
  color: #fff;
  font-size: 1.45vw;
  font-weight: 500;
  padding-top: 2.3vh;
}

#title_line {
  display: flex;
  gap: 1.8vw;
  align-items: center;
}

#bar {
  width: 33.5vw;
  height: 6.5vh;
  margin-top: 6.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  color: black;
  font-size: 1.6vw;
  font-weight: 100;
  gap: 2.3vw;
  padding: 3vh;
  border-radius: 4vw;
}

#bar img {
  width: 2.5vw;
  height: 2.5vw;
}

#bar p {
  color: black;
  font-size: 1.05vw;
  font-weight: 600;
}

#bar span {
  border-radius: 4vw;
  background-color: #b5aeae;
  padding: 1vh 2.3vw 1vh 2.3vw;
  color: black;
  font-size: 1.05vw;
  font-weight: 600;
}
